In [1]:
#                   TOPIC: String Based Assignment Problem

In [2]:
#1. Write a program to reverse a string.

#enter string
string = input('enter string:')
#reversing func
print(string[::-1])

enter string:ffhho
ohhff

In [4]:
#2. Check if a string is a palindrome.

#enter string
string = input('enter string:')
#palindrome check func
if string == string[::-1]:
    print('it is a palindrome')
else:
    print('not a palindrome')

enter string:prarp
it is a palindrome

In [5]:
#3. Convert a string to uppercase.

#enter string
string = input('enter string:')
# convert uppercase
print(string.upper())

enter string:sd
SD

In [6]:
#4. Convert a string to lowercase.

#enter string
string = input('enter string:')
# convert lowercase
print(string.lower())

enter string:sfDDS
sfdds

In [7]:
#5. Count the number of vowels in a string.

#enter string
string = input('enter string:')
#count variable
count=0
#counting function
for i in string:
    if i in ['a','e','i','o','u']:
        count+=1
print(count)

enter string:foifih
3

In [8]:
#6. Count the number of consonants in a string.

#enter string
string = input('enter string:')
#count variable
count=0
#counting function
for i in string:
    if i not in ['a','e','i','o','u']:
        count+=1
print(count)

enter string:jdfoijfef
6

In [9]:
#7. Remove all whitespaces from a string.

#enter string
string=input('enter string : ')
#replacing space with blank
string2 = string.replace(' ','')
print(string2)

enter string : wewf nkjwe
wewfnkjwe

In [11]:
#8. Find the length of a string without using the `len()` function.

#enter string
string=input('enter string : ')
#count variable
count=0
#counting
for i in string:
    count+=1
print(count)

enter string : dkdkf
5

In [13]:
#9. Check if a string contains a specific word.

#enter string
string=input('enter string : ')
#enter word you want to check
word=str(input('enter word : '))
if string.find(word)==-1:
    print('not present')
else:
    print('present')

enter string : print
enter word : a
not present

In [15]:
#10. Replace a word in a string with another word.

#enter string
string=input('enter string : ')
#enter word you want to replace
word=str(input('enter word you want to replace: '))
#enter word with you want to replace
word2=str(input('enter word with you want to replace: '))

string2=string.replace(word,word2)
print(string2)

enter string : ssd
enter word you want to replace: a
enter word with you want to replace: d
ssd

In [17]:
#11. Count the occurrences of a word in a string.

#enter string
string=input('enter string : ')
#enter word you want to check
word=str(input('enter word : '))
#conunting variable
count=0
for i in string:
    if i==word:
        count+=1
print(count)

enter string : sdjnfjjj
enter word : j
4

In [18]:
#12. Find the first occurrence of a word in a string.

#enter string
string = input('enter string:')
#get word
word=string[0]
count=0
#counting function
for i in string:
    if i==word:
        count+=1
print(count)

enter string:pratikspp
3

In [19]:
#13. Find the last occurrence of a word in a string.

#enter string
string = input('enter string:')
#get word
a=len(string)
word=string[a-1]
count=0
#counting function
for i in string:
    if i==word:
        count+=1
print(count)

enter string:pjvcvbiuv
3

In [21]:
#14. Split a string into a list of words.

#enter string
string = input('enter string:')
#split string
lst=list(string)
print(lst)

enter string:iihff
['i', 'i', 'h', 'f', 'f']

In [24]:
#15. Join a list of words into a string.

lst=['p','r','a','t','i','k']
#convert to string
output=''
for i in lst:
    output+=i
print(output)

pratik

In [30]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

#enter string
string = input('enter string:')
a=string.split(' ')
b=string.split('_')
print (a,b)
if len(a)>len(b):
    length=len(b)
else:
    length=len(a)
i=0
string2=string
while length>0:
    string2=string2.replace(a[i],b[i])
    i+=1
    length-=1
print(string2)

enter string:hff igg_jik ihn
['hff', 'igg_jik', 'ihn'] ['hff igg', 'jik ihn']
hff igg jik ihn ihn

In [32]:
#17. Check if a string starts with a specific word or phrase.

#enter string
string = input('enter string:')
#enter word
word = input('enter word')
if string[0]==word:
    print('present')
else:
    print('not present')

enter string:ffvdf
enter wordv
not present

In [36]:
#18. Check if a string ends with a specific word or phrase.

#enter string
string = input('enter string:')
#enter word
word = input('enter word')
length=len(string)
if string[length-1]==word:
    print('present')
else:
    print('not present')

enter string:iwife
enter worde
present

In [37]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

#enter string
string = input('enter string:')
# converting
string=string.title()
print(string)

enter string:snsdjf fhs
Snsdjf Fhs

In [38]:
#20. Find the longest word in a string.

#enter string
string = input('enter string:')
#spliting string
a=string.split(' ')
print(max(a))

enter string:pratik shashikant mandhare
shashikant

In [42]:
#21. Find the smallest word in a string.

#enter string
string = input('enter string:')
#spliting string
a=string.split(' ')
small=a[0]
for i in a:
    if len(i)<len(small):
        small=i
print(small)

enter string:pra hah gg hkkh
gg

In [43]:
#22. Reverse the order of words in a string.

#enter string
string = input('enter string:')
string2=string[::-1]
print(string2)

enter string:pratik
kitarp

In [7]:
#23. Check if a string is alphanumeric.

string = input('enter string:')
if string.isalnum():
    print(True)
else:
    print(False)

enter string:hhh
True

In [16]:
#24. Extract all digits from a string.

string = input('enter string:')
lst=[]
for i in string:
    if i.isdigit():
        lst.append(i)
print(lst)

enter string:dj9990sd
['9', '9', '9', '0']

In [17]:
# Extract all digits from a string.

string = input('enter string:')
lst=[]
for i in string:
    if i.isalpha():
        lst.append(i)
print(lst)

enter string:jdisuuhd882
['j', 'd', 'i', 's', 'u', 'u', 'h', 'd']

In [19]:
#26. Count the number of uppercase letters in a string.

string = input('enter string:')
count=0
for i in string:
    if i.isupper():
        count+=1
print(count)

enter string:dfHHio
2

In [20]:
#27. Count the number of lowercase letters in a string.

string = input('enter string:')
count=0
for i in string:
    if i.islower():
        count+=1
print(count)

enter string:hvuuhfHHH
6

In [21]:
#28. Swap the case of each character in a string.

string = input('enter string:')
string2=string.swapcase()
print(string2)

enter string:udhII
UDHii

In [24]:
#29. Remove a specific word from a string.

string = input('enter string:')
word=input('enter word:')
string=string.replace(word,'')
print(string)

enter string:jjjsf
enter word:j
sf

In [26]:
#30. Check if a string is a valid email address.

string = input('enter string:')
if string.endswith('@gmail.com'):
    print(True)
else:
    print(False)

enter string:sdj
False

In [27]:
#31. Extract the username from an email address string.

string = input('enter string:')
a=string.split('@')
print(a[0])

enter string:ppr@gmail.com
ppr

In [28]:
#32. Extract the domain name from an email address string.

string = input('enter string:')
a=string.split('@')
print(a[1])

enter string:dfg@gg
gg

In [33]:
#33. Replace multiple spaces in a string with a single space.

string = input('enter string:')
string2=" ".join(string.split())
print(string2)

enter string:h yg b   yi
h yg b yi

In [46]:
#34. Check if a string is a valid URL.

import validators
string = input('enter url:')
validators.url(string)

ModuleNotFoundError: No module named 'validators'

In [47]:
#35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse
string = input('enter url:')
a=urlparse(string)
a.scheme

enter url:https://docs.python.org/3/library/urllib.parse.html

'https'

In [49]:
#36. Find the frequency of each character in a string.

string = input('enter string:')
l={}
for i in string:
    l[i]=string.count(i)
print(l)

enter string:fjsdnnan
{'f': 1, 'j': 1, 's': 1, 'd': 1, 'n': 3, 'a': 1}

In [59]:
#37. Remove all punctuation from a string.

import string
string1 = input('enter string:')
for i in string.punctuation:
    string1=string1.replace(i,'')
print(string1)

enter string:ln5a556a66^^^fn
ln5a556a66fn

In [61]:
#38. Check if a string contains only digits.

string = input('enter string:')
if string.isnumeric():
    print(True)
else:
    print(False)

enter string:sjf88
False

In [63]:
#39. Check if a string contains only alphabets.

string = input('enter string:')
if string.isalpha():
    print(True)
else:
    print(False)

enter string:j23hh
False

In [64]:
#40. Convert a string to a list of characters.

string = input('enter string:')
ls=list(string)
print(ls)

enter string:soodf
['s', 'o', 'o', 'd', 'f']

In [73]:
#41. Check if two strings are anagrams.

string1 = input('enter string1:')
string2 = input('enter string2:')

l1=list(string1)
l2=list(string2)
l1.sort()
l2.sort()
print(l1,l2)
if l1==l2:
    print(True)
else:
    print(False)

enter string1:kjjdbf
enter string2:fjb
['b', 'd', 'f', 'j', 'j', 'k'] ['b', 'f', 'j']
False

In [76]:
#42. Encode a string using a Caesar cipher.

string = input('enter string1:')
for i in string:
    if 64<ord(i)<88 or 96<ord(i)<120:
        string=string.replace(i,chr(ord(i)+3))
    elif 87<ord(i)<91 or 119<ord(i)<123:
        string=string.replace(i,chr(ord(i)-23))
print(string)

enter string1:abaak
deddn

In [77]:
#43. Decode a Caesar cipher encoded string.

string = input('enter string1:')
for i in string:
    if 67<ord(i)<91 or 99<ord(i)<123:
        string=string.replace(i,chr(ord(i)-3))
    elif 64<ord(i)<68 or 96<ord(i)<100:
        string=string.replace(i,chr(ord(i)+23))
print(string)

enter string1:deddn
abaak

In [82]:
#44. Find the most frequent word in a string.

string = input('enter string:')
maxm=0
var=0
for i in string:
    if maxm<string.count(i):
        maxm=string.count(i)
        var=i
print(var)

enter string:fsdfjjjj
j

In [85]:
#45. Find all unique words in a string.

string = input('enter string:')
maxm=0
count=0
for i in string:
    count
    for j in string:
        if i==j:
            count+=1
    if count==1:
        print(i)

enter string:vosfosdi
v
f
d
i

In [86]:
#46. Count the number of syllables in a string.

string = input('enter string:').lower()
lst=list('aeiouy')
count=0
for i in string:
    if i in lst:
        count+=1
print(count)

enter string:iuhuyv
4

In [89]:
#47. Check if a string contains any special characters.

import string
string1 = input('enter string:')
for i in string1:
    if i in string.punctuation:
        print(True)
        break
else:
    print(False)

enter string:dfgdsf8&
True

In [94]:
#48. Remove the nth word from a string.

string1 = input('enter string:')
n=int(input('enter nth word:'))
print(string1[n-1])
string1.replace(string1[n-1],'')

enter string:weuf
enter nth word:2
e

'wuf'

In [95]:
#49. Insert a word at the nth position in a string.

string1 = input('enter string:')
n=int(input('enter nth word:'))
var=input('enter word to add:')
value=string1[n-1]
string1.replace(value,f'{var}{value}')

enter string:dosff
enter nth word:3
enter word to add:a

'doasff'

In [96]:
#50. Convert a CSV string to a list of lists.

In [97]:
#                   List Based Practice Problem

In [98]:
#1. Create a list with integers from 1 to 10.

a=range(1,11)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
#2. Find the length of a list without using the `len()` function.

lst=[1,2,3,4,5,6,7]
count=0
for i in lst:
    count+=1
print(count)

7

In [100]:
#3. Append an element to the end of a list.

lst=[1,2,3,4,5,6,7]
lst.append(8)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [102]:
#4. Insert an element at a specific index in a list.

lst=[1,2,3,4,5,6,7]
index=int(input('enter index:'))
lst.insert(index,5)
print(lst)

enter index:4
[1, 2, 3, 4, 5, 5, 6, 7]

In [103]:
#5. Remove an element from a list by its value.

lst=[1,2,3,4,5,6,7]
value=int(input('enter value:'))
lst.remove(value)
print(lst)

enter value:3
[1, 2, 4, 5, 6, 7]

In [104]:
#6. Remove an element from a list by its index.

lst=[1,2,3,4,5,6,7]
index=int(input('enter index:'))
lst.pop(index)
print(lst)

enter index:3
[1, 2, 3, 5, 6, 7]

In [112]:
#7. Check if an element exists in a list.

lst=[1,2,3,4,5,6,7]
if 9 in lst:
    print(True)
else:
    print(False)

False

In [110]:
#8. Find the index of the first occurrence of an element in a list.

lst=[1,2,3,4,5,6,7]
lst.index(5)

4

In [113]:
#9. Count the occurrences of an element in a list.

lst=[1,2,3,4,5,6,7,3,5]
lst.count(3)

2

In [115]:
#10. Reverse the order of elements in a list.

lst=[1,2,3,4,5,6,7,3,5]
lst.reverse()
print(lst)

[5, 3, 7, 6, 5, 4, 3, 2, 1]

In [116]:
#11. Sort a list in ascending order.

lst=[7,9,3,4,5,6,7,3,5,1]
lst.sort()
print(lst)

[1, 3, 3, 4, 5, 5, 6, 7, 7, 9]

In [117]:
#12. Sort a list in descending order.

lst=[7,9,3,4,5,6,7,3,5,1]
lst.sort(reverse=True)
print(lst)

[9, 7, 7, 6, 5, 5, 4, 3, 3, 1]

In [120]:
#13. Create a list of even numbers from 1 to 20.

a=range(2,21,2)
list(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [121]:
#14. Create a list of odd numbers from 1 to 20.

a=range(1,21,2)
list(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [122]:
#15. Find the sum of all elements in a list.

lst=[1,2,3,4,5,6,7,3,5]
count=0
for i in lst:
    count+=i
print(count)

36

In [125]:
#16. Find the maximum value in a list.

lst=[1,2,3,4,5,6,7,3,5]
lst.sort(reverse=True)
print(lst[0])

7

In [126]:
#17. Find the minimum value in a list.

lst=[1,2,3,4,5,6,7,3,5]
lst.sort()
print(lst[0])

1

In [127]:
#18. Create a list of squares of numbers from 1 to 10.

lst=[]
for i in range(1,11):
    a=i*i
    lst.append(a)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
#19. Create a list of random numbers.

import random
lst=[]
for i in range(1,11):
    a=int((random.random()*100)//1)
    lst.append(a)
print(lst)

[62, 27, 42, 96, 25, 53, 34, 93, 93, 43]

In [144]:
#20. Remove duplicates from a list.

lst=[1,2,3,4,5,6,7,3,5]
a=set(lst)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [169]:
#21. Find the common elements between two lists.

lst1=[1,2,3,4,5,6,7,3,5]
lst2=[5,3,2,66,76,78,8]
lst3=[]
for i in lst1:
    for j in lst2:
        if i==j:
            lst3.append(i)
a=set(lst3)
print(a)

{2, 3, 5}

In [177]:
#22. Find the difference between two lists.

lst1=[1,2,3,4,5,6,7,3,5]
lst2=[5,3,2,66,76,78,8]
a=set(lst1)
b=set(lst2)
c=list(a-b)
d=list(b-a)
print(d+c)

[8, 66, 76, 78, 1, 4, 6, 7]

In [178]:
#23. Merge two lists.

lst1=[1,2,3,4,5,6,7,3,5]
lst2=[5,3,2,66,76,78,8]
lst1+lst2

[1, 2, 3, 4, 5, 6, 7, 3, 5, 5, 3, 2, 66, 76, 78, 8]

In [1]:
#24. Multiply all elements in a list by 2.

lst1=[1,2,3,4,5,6,7,3,5]
lst2=[]
for i in lst1:
    i*=2
    lst2.append(i)
print(lst2)

[2, 4, 6, 8, 10, 12, 14, 6, 10]

In [1]:
#25. Filter out all even numbers from a list.

lst1=[1,2,3,4,5,6,7,3,5]
lst2=[]
for i in lst1:
    if i%2==0:
        lst2.append(i)
lst2

[2, 4, 6]

In [3]:
#26. Convert a list of strings to a list of integers.

lst1=['1','2','3','4','5','6']
lst2=[]
for i in lst1:
    lst2.append(int(i))
print(lst2)

[1, 2, 3, 4, 5, 6]

In [6]:
#27. Convert a list of integers to a list of strings.

lst1=[1,2,3,4,5,6,7]
lst2=[]
for i in lst1:
    lst2.append(str(i))
print(lst2)

['1', '2', '3', '4', '5', '6', '7']

In [19]:
#28. Flatten a nested list.

import numpy
lst1=[1,2,3,4,[5,6,7,[9,10]],11]
lst2=[]
def flatten(l):
    for i in l:
        if type(i)==list:
            flatten(i)
        else:
            lst2.append(i)
flatten(lst1)
lst2

[1, 2, 3, 4, 5, 6, 7, 9, 10, 11]

In [24]:
#29. Create a list of the first 10 Fibonacci numbers.

lst=[0,1]
num1=0
num2=1
for i in range(0,8):
    num2=num1+num2
    num1=num2-num1
#     lst.append(num1)
    lst.append(num2)
print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [37]:
#30. Check if a list is sorted.

lst1=[1,2,3,4]
lst2=[]
for i in lst1:
    lst2.append(i)
lst2.sort()
if lst2==lst1:
    print('sorted')
else:
    print('not')

sorted

In [7]:
#31. Rotate a list to the left by `n` positions.

arr = [1, 2, 3, 4, 5, 6, 7,8,9]
arr1=[]
a=0
n = 3
i=0
while i<=len(arr)-1:
    if i>=(n):
        arr1.insert(a,arr[i])
        a+=1
        
    if i <(n):
        arr1.append(arr[i])
        
    i+=1
    
print(arr1)

[4, 5, 6, 7, 8, 9, 1, 2, 3]

In [ ]:
#32. Rotate a list to the right by `n` positions.

arr = [1, 2, 3, 4, 5, 6, 7,8,9]
arr1=[]
a=0
n = 3
i=0
while i<=len(arr)-1:
    if i>=(len(arr)-n):
        arr1.insert(a,arr[i])
        a+=1
        
    if i <(len(arr)-n):
        arr1.append(arr[i])
    i+=1
    
print(arr1)

In [1]:
#33. Create a list of prime numbers up to 50.

lst=[]
count=0
for i in range(2,51):
    count=0
    for j in range(2,i):
        if i%j==0:
#             print(i)
            count+=1
    if count==0:
        lst.append(i)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
#34. Split a list into chunks of size `n`.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
    x = i 
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
#35. Find the second largest number in a list.

my_list = [5,7,2,4,9,22,3,8]
my_list.sort()
print(my_list[len(my_list)-2])

9

In [3]:
#36. Replace every element in a list with its square.

my_list = [1, 2, 3, 4, 5, 6, 2, 8, 9] 
for i in range(0,len(my_list)):
    my_list[i]=my_list[i]**2
print(my_list)

[1, 4, 9, 16, 25, 36, 4, 64, 81]

In [4]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ['pratik','mandhare','shashikant']
a = enumerate(my_list)
dict(a)

{0: 'pratik', 1: 'mandhare', 2: 'shashikant'}

In [5]:
#38. Shuffle the elements of a list randomly.

import random
my_list = [1, 2, 3, 4, 5, 6, 2, 8, 9] 
random.shuffle(my_list)
my_list

[6, 2, 1, 3, 2, 5, 9, 4, 8]

In [13]:
# 39. Create a list of the first 10 factorial numbers.

lst=[]
n=10
def fact(a):
    if a<=1:
        return 1
    else:
        return a*fact(a-1)

for i in range(0,n+1):
    val = fact(i)
    lst.append(val)

print(lst)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [15]:
#40. Check if two lists have at least one element in common.

lst1=[4,6,3,7]
lst2=[2,9,8,3]

for i in lst1:
    if i in lst2:
        print(True)

True
False

In [16]:
#41. Remove all elements from a list.

lst=[1,2,3,4,5,6]
lst.clear()
lst

[]

In [19]:
#42. Replace negative numbers in a list with 0.

lst=[-1,-2,3,-4,5,-6]
for i in range(len(lst)):
    if lst[i]<0:
        lst[i]=0
        
print(lst)

[0, 0, 3, 0, 5, 0]

In [20]:
#43. Convert a string into a list of words.

val='pratik'
lst=list(val)
print(lst)

['p', 'r', 'a', 't', 'i', 'k']

In [24]:
#44. Convert a list of words into a string.

lst=['p', 'r', 'a', 't', 'i', 'k']
word=''
for i in lst:
    word+=i
print(word)

pratik

In [25]:
##45. Create a list of the first `n` powers of 2.
n=10
lst=[]
for i in range(n+1):
    lst.append(2**i)
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [30]:
#46. Find the longest string in a list of strings.

lst=['pratik','aishwarya','shivanjali','gauri']
high=''
for i in lst:
    if len(i)>len(high):
        high=i
high

'shivanjali'

In [31]:
#47. Find the shortest string in a list of strings.

lst=['pratik','aishwarya','shivanjali','gauri']
low=lst[0]
for i in lst:
    if len(i)<len(low):
        low=i
low

'gauri'

In [40]:
#48. Create a list of the first `n` triangular numbers.

n=10
val=1
val1=1
lst=[]
for i in range(n):
    
    lst.append(val)
    val+=val1
    if val==1:
        val+=2
    else:
        val+=1
        val1+=1
lst

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [48]:
#49. Check if a list contains another list as a subsequence.

lst=[1,2,3,4,5,[7,8]]
for i in lst:
    if type(i)==list:
        print('it contains list')

In [59]:
#50. Swap two elements in a list by their indices.

lst=['pratik','sid','tejas','rahul','mane']
index1=1
index2=3
val1=lst[index1]
val2=lst[index2]
print(val1,val2)
for i in range(len(lst)):
    if i==index1:
        lst[i]=val2
    if i==index2:
        lst[i]=val1
        
lst

sid rahul

['pratik', 'rahul', 'tejas', 'sid', 'mane']

In [60]:
#---------------Tuple Based Practice Problem :---------------------

In [61]:
#1. Create a tuple with integers from 1 to 5.

tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [62]:
#2. Access the third element of a tuple.

tup = ('pratik','mandhare','gauri','shiva','yoou')
tup[2]

'gauri'

In [63]:
#3. Find the length of a tuple without using the `len()` function.

length=0
tup = ('pratik','mandhare','gauri','shiva','yoou')
for i in tup:
    length+=1
print(length)

5

In [66]:
#4. Count the occurrences of an element in a tuple.

length=0
ele='pratik'
tup = ('pratik','mandhare','gauri','shiva','yoou','pratik')
for i in tup:
    if i==ele:
        length+=1
print(length)

2

In [67]:
#5. Find the index of the first occurrence of an element in a tuple.

ele='pratik'
tup = ('pratik','mandhare','gauri','shiva','yoou','pratik')
ind=tup.index('pratik')
ind

0

In [70]:
#6. Check if an element exists in a tuple.

ele='pratik'
tup = ('pratik','mandhare','gauri','shiva','yoou','pratik')
if ele in tup:
    print('exist')

exist

In [71]:
#7. Convert a tuple to a list.

tup = ('pratik','mandhare','gauri','shiva','yoou','pratik')
lst=list(tup)
lst

['pratik', 'mandhare', 'gauri', 'shiva', 'yoou', 'pratik']

In [72]:
#8. Convert a list to a tuple.

lst =['pratik','mandhare','gauri','shiva','yoou','pratik']
tup=tuple(lst)
tup

('pratik', 'mandhare', 'gauri', 'shiva', 'yoou', 'pratik')

In [73]:
#9. Unpack the elements of a tuple into variables.

lst =['pratik','mandhare','gauri','shiva','yoou']
a,b,c,d,e=lst
print(a,b,c,d,e)

pratik mandhare gauri shiva yoou

In [74]:
#10. Create a tuple of even numbers from 1 to 10.

lst=[]
for i in range(1,11):
    if i%2==0:
        lst.append(i)
        
tup=tuple(lst)
tup

(2, 4, 6, 8, 10)

In [75]:
#11. Create a tuple of odd numbers from 1 to 10.

lst=[]
for i in range(1,11):
    if i%2!=0:
        lst.append(i)
        
tup=tuple(lst)
tup

(1, 3, 5, 7, 9)

In [76]:
#12. Concatenate two tuples.

tup1=['pra','sudh','man']
tup2=['gauri','shiva']
tup3=tup1+tup2
tup3

['pra', 'sudh', 'man', 'gauri', 'shiva']

In [77]:
#13. Repeat a tuple three times.

tup1=['pra','sudh','man']
tup1*3

['pra', 'sudh', 'man', 'pra', 'sudh', 'man', 'pra', 'sudh', 'man']

In [83]:
#14. Check if a tuple is empty.

tup=()
if len(tup)==0:
    print('empty')

empty

In [84]:
#15. Create a nested tuple.

tup = (1,2,3,4,(5,6))
tup

(1, 2, 3, 4, (5, 6))

In [88]:
#16. Access the first element of a nested tuple.

tup = (1,2,3,4,(5,6))
for i in tup:
    if type(i)==tuple:
        print(i[0])

5

In [89]:
#17. Create a tuple with a single element.

tup=('name')
tup

'name'

In [93]:
#18. Compare two tuples.

tup1=('pratik','gauri','shiva')
tup2=('pratik','gauri','shiva')
if tup1==tup2:
    print('same')
else:
    print('not same')

same

In [96]:
#19. Delete a tuple.

tup1=('pratik','gauri','shiva')
del tup1

In [97]:
#20. Slice a tuple.

tup1=('pratik','gauri','shiva','aish')
tup1[1:4]

('gauri', 'shiva', 'aish')

In [106]:
#21. Find the maximum value in a tuple.

tup=(5,6,7,3,4)
lst = list(tup)
lst.sort()
lst[len(lst)-1]

7

In [107]:
#22. Find the minimum value in a tuple.

tup=(5,6,7,3,4)
lst = list(tup)
lst.sort()
lst[0]

3

In [108]:
#23. Convert a string to a tuple of characters.

tup=tuple('pratik')
tup

('p', 'r', 'a', 't', 'i', 'k')

In [109]:
#24. Convert a tuple of characters to a string.

tup = ('p', 'r', 'a', 't', 'i', 'k')
string=''
for i in tup:
    string+=i
string

'pratik'

In [110]:
#25. Create a tuple from multiple data types.

tup=('pratk',3,True,0.5)
tup

('pratk', 3, True, 0.5)

In [112]:
#26. Check if two tuples are identical.

tup1 = (5,4,6,7,3)
tup2 = (5,4,6,7,3,2)
if tup1==tup2:
    print('tuples are identicals')
else:
    print('not')

not

In [116]:
#27. Sort the elements of a tuple.

tup1 = (5,4,6,7,3)
lst=list(tup1)
tup1=lst.sort()
tup1=lst
print(tup1)

[3, 4, 5, 6, 7]

In [117]:
#28. Convert a tuple of integers to a tuple of strings.

tup1 = (5,4,6,7,3)
lst=[]
for i in tup1:
    lst.append(str(i))
lst

['5', '4', '6', '7', '3']

In [118]:
#29. Convert a tuple of strings to a tuple of integers.

tup1 = ('5', '4', '6', '7', '3')
lst=[]
for i in tup1:
    lst.append(int(i))
lst

[5, 4, 6, 7, 3]

In [120]:
#30. Merge two tuples.

tup1 = (5,4,6,7,3)
tup2 = (5,4,6,7,3,2)
tup1 + tup2

(5, 4, 6, 7, 3, 5, 4, 6, 7, 3, 2)

In [130]:
#31. Flatten a nested tuple.

l=(1,2,3,4,5,(6,7,8))
lst2=[]
def flatten(l):
    for i in l:
        if type(i)==tuple:
            flatten(i)
        else:
            lst2.append(i)
flatten(l)
l=tuple(lst2)
l

(1, 2, 3, 4, 5, 6, 7, 8)

In [135]:
#32. Create a tuple of the first 5 prime numbers.
    
lst=[]
count=0
for i in range(2,100):
    count=0
    for j in range(2,i+1):
        if i%j==0:
            count+=1
    if count==1:
        lst.append(i)
    if (len(lst)>=5):
        break
tup=tuple(lst)
tup

(2, 3, 5, 7, 11)

In [138]:
#33. Check if a tuple is a palindrome.

tup=(1,2,3,2,1,8)
for i in range((len(tup)-1)//2):
    if tup[i]==tup[len(tup)-i-1]:
        pal=True
    else:
        pal=False
        break
pal

False

In [140]:
#34. Create a tuple of squares of numbers from 1 to 5.

lst=[]
for i in range(1,6):
    lst.append(i**2)
tuple(lst)

(1, 4, 9, 16, 25)

In [141]:
#35. Filter out all even numbers from a tuple.

tup1 = (5,4,6,7,3)
for i in tup1:
    if i%2==0:
        print(i)

4
6

In [144]:
#36. Multiply all elements in a tuple by 2.

tup1 = (5,4,6,7,3)
lst=[]
for i in tup1:
    lst.append(i*2)
tup1=tuple(lst)
tup1

(10, 8, 12, 14, 6)

In [149]:
#37. Create a tuple of random numbers.

import random
lst=[]
for i in range(1,10):
    lst.append(int((random.random()*100)//1))
lst

[51, 88, 77, 72, 86, 56, 54, 59, 62]

In [156]:
#38. Check if a tuple is sorted.

tup=(1,2,3,4,3)
count=0
for i in range(len(tup)-1):
    if tup[i]<tup[i+1]:
        count+=1
    else:
        print('not sorted')
        break
if count==len(tup)-1:
    print('sorted')

not sorted

In [159]:
#39. Rotate a tuple to the left by `n` positions.

tup = (1, 2, 3, 4, 5, 6, 7,8,9)
arr=tuple(tup)
arr1=[]
a=0
n = 3
i=0
while i<=len(arr)-1:
    if i>=(n):
        arr1.insert(a,arr[i])
        a+=1
        
    if i <(n):
        arr1.append(arr[i])
        
    i+=1
    
tup=tuple(arr1)
tup

(4, 5, 6, 7, 8, 9, 1, 2, 3)

In [160]:
#40. Rotate a tuple to the right by `n` positions.

tup = (1, 2, 3, 4, 5, 6, 7,8,9)
arr=tuple(tup)
arr1=[]
a=0
n = 3
i=0
while i<=len(arr)-1:
    if i>=(len(arr)-n):
        arr1.insert(a,arr[i])
        a+=1
        
    if i <(len(arr)-n):
        arr1.append(arr[i])
    i+=1
    
tup=tuple(arr1)
tup

(7, 8, 9, 1, 2, 3, 4, 5, 6)

In [163]:
#41. Create a tuple of the first 5 Fibonacci numbers.

lst=[0,1]
num1=0
num2=1
for i in range(0,8):
    num2=num1+num2
    num1=num2-num1
#   lst.append(num1)
    lst.append(num2)
tup=tuple(lst)
tup

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [164]:
#42. Create a tuple from user input.

size=int(input('enter value'))
lst=[]
for i in range(size):
    a=input('enter')
    lst.append(a)
lst

enter value5
enter1
enter2
enter3
enter4
enter5

['1', '2', '3', '4', '5']

In [165]:
#43. Swap two elements in a tuple.

tup = (1,2,3,4,5,6)
val1=1
val2=4
lst=list(tup)
a=lst[val1]
lst[val1]=lst[val2]
lst[val2]=a
tup=tuple(lst)
tup

(1, 5, 3, 4, 2, 6)

In [166]:
#44. Reverse the elements of a tuple.

tup=(1,2,3,4,5,6)
lst=list(tup)
lst.reverse()
tup=tuple(lst)
tup

(6, 5, 4, 3, 2, 1)

In [167]:
#45. Create a tuple of the first `n` powers of 2.

n=5
lst=[]
for i in range(n+1):
    lst.append(2**i)
tup=tuple(lst)
tup

(1, 2, 4, 8, 16, 32)

In [178]:
#46. Find the longest string in a tuple of strings.

tup=('pratik','shashikat','gauri','shivanjali','aishwarya')
maximum=''
for i in tup:
    if len(i)>len(maximum):
        maximum=i
maximum

'shivanjali'

In [179]:
#47. Find the shortest string in a tuple of strings.

tup=('pratik','shashikat','gauri','shivanjali','aishwarya')
minimum=tup[0]
for i in tup:
    if len(i)<len(minimum):
        minimum=i
minimum

'gauri'

In [187]:
#48. Create a tuple of the first `n` triangular numbers.

lst=[]
val=0
n=7
for i in range(1,n):
    val+=i
    lst.append(val)
tup=tuple(lst)
tup

(1, 3, 6, 10, 15, 21)

In [188]:
#49. Check if a tuple contains another tuple as a subsequence.

tup=(1,2,3,4,5,(6,7))
for i in tup:
    if type(i)==tuple:
        print('it contains a tuple')

it contains a tuple

In [190]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

lst=[]
n=7
for i in range(1,n+1):
    if i%2==0:
        lst.append(0)
    else:
        lst.append(1)
tup=tuple(lst)    
tup

(1, 0, 1, 0, 1, 0, 1)

In [191]:
#------------------------Set Based Practice Problem :---------------------

In [197]:
#1. Create a set with integers from 1 to 5.

set1=set()
for i in range(1,6):
    set1.add(i)
set1

{1, 2, 3, 4, 5}

In [199]:
#2. Add an element to a set.

set1={1,2,3,4,5}
set1.add(66)
set1

{1, 2, 3, 4, 5, 66}

In [203]:
#3. Remove an element from a set.

set1={1,2,3,4,5}
set1.remove(4)
set1

{1, 2, 3, 5}

In [209]:
# 4. Check if an element exists in a set.

val=5
set1={1,2,3,4,5,6}
if 5 in set1:
    print(True)
else:
    print(False)

True

In [211]:
#5. Find the length of a set without using the `len()` function.

set1={1,2,3,4,5,6}
count=0
for i in set1:
    count+=1
count

6

In [212]:
#6. Clear all elements from a set.

set1={1,2,3,4,5,6}
set1.clear()
set1

set()

In [213]:
#7. Create a set of even numbers from 1 to 10.

set1=set()
for i in range(1,11):
    if i%2==0:
        set1.add(i)
set1

{2, 4, 6, 8, 10}

In [214]:
#8. Create a set of odd numbers from 1 to 10.

set1=set()
for i in range(1,11):
    if i%2!=0:
        set1.add(i)
set1

{1, 3, 5, 7, 9}

In [216]:
#9. Find the union of two sets.

set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [217]:
#10. Find the intersection of two sets.

set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
set1.intersection(set2)

{5, 6}

In [218]:
#11. Find the difference between two sets.

set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 4, 7, 8, 9}

In [6]:
#12. Check if a set is a subset of another set.

set2={1,2,3,4,5,6}
set1={5,6}
set1.issubset(set2)

True

In [ ]:
#13. Check if a set is a superset of another set.

set1={1,2,3,4,5,6}
set2={5,6}
set1.issuperset(set2)

In [2]:
#14. Create a set from a list.

set1=set()
lst=[1,2,3,4,5,6]
for i in lst:
    set1.add(i)
set1

{1, 2, 3, 4, 5, 6}

In [3]:
#15. Convert a set to a list.

lst=[1,2,3,4,5,6]
set1=set(lst)
set1

{1, 2, 3, 4, 5, 6}

In [6]:
#16. Remove a random element from a set.

set1={'pratik','shahikant','mandhare'}
set1.pop()
set1

{'mandhare', 'pratik'}

In [ ]:
#17. Pop an element from a set.

set1={'pratik','shahikant','mandhare'}
set1.pop()
set1

In [9]:
#18. Check if two sets have no elements in common.

set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
if len(set1.intersection(set2))==0:
    print('it dont have common elements')
else:
    print('it have common elements')

True

In [10]:
#19. Find the symmetric difference between two sets.

set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 4, 7, 8, 9}

In [11]:
#20. Update a set with elements from another set.

set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
#21. Create a set of the first 5 prime numbers.

set1=set()
count=0
for i in range(2,20):
    count=0
    for j in range(2,i):
        if i%j==0:
            count+=1

    if count==0:
        set1.add(i)
    if len(set1)>=5:
        break
set1

{2, 3, 5, 7, 11}

In [22]:
#22. Check if two sets are identical.

set1={1,2,3,4,5,6}
set2={1,2,3,4,5,6}
if set1==set2:
    print(True)
else:
    print(False)

True

In [26]:
#23. Create a frozen set.

set1=frozenset([1,2,3,4])
set1

frozenset({1, 2, 3, 4})

In [31]:
#24. Check if a set is disjoint with another set.

set1={1,2,3,4,5,6}
set2={1,2,3,4,5,6}
set1.isdisjoint(set2)

False

In [32]:
#25. Create a set of squares of numbers from 1 to 5.

set1=set()
for i in range(1,6):
    set1.add(i**2)
set1

{1, 4, 9, 16, 25}

In [35]:
#26. Filter out all even numbers from a set.

set1={1,2,3,4,5,6}
set2=set()
for i in set1:
    if i%2==0:
        set2.add(i)
set2

{2, 4, 6}

In [36]:
#27. Multiply all elements in a set by 2.

set1={1,2,3,4,5,6}
set2=set()
for i in set1:
    set2.add(i**2)
set2

{1, 4, 9, 16, 25, 36}

In [40]:
#28. Create a set of random numbers.

import random
set1=set()
for i in range(1,9):
    a=random.randint(1,50)
    set1.add(a)
set1

{8, 9, 10, 12, 28, 34, 35, 38}

In [42]:
# 29. Check if a set is empty.

set1={}
if len(set1)==0:
    print('set is empty')

set is empty

In [44]:
#30. Create a nested set (hint: use frozenset).

set1={frozenset([1,2,3]),frozenset([4,5,6])}
set1

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [45]:
#31. Remove an element from a set using the discard method.

set1={1,2,3,4,5,6}
set1.discard(5)
set1

{1, 2, 3, 4, 6}

In [46]:
#32. Compare two sets.

set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8}
if set1==set2:
    print(True)
else:
    print(False)

False

In [47]:
#33. Create a set from a string.

string='pratik'
set1=set(string)
set1

{'a', 'i', 'k', 'p', 'r', 't'}

In [48]:
#34. Convert a set of strings to a set of integers.

set1={'1','2','3','4'}
set2=set()
for i in set1:
    set2.add(int(i))
set1=set2
set1

{1, 2, 3, 4}

In [49]:
#35. Convert a set of integers to a set of strings.

set1={1, 2, 3, 4}
set2=set()
for i in set1:
    set2.add(str(i))
set1=set2
set1

{'1', '2', '3', '4'}

In [50]:
#36. Create a set from a tuple.

tup=(1,2,3,4,5)
set1=set(tup)
set1

{1, 2, 3, 4, 5}

In [51]:
#37. Convert a set to a tuple.

set1={1,2,3,4,5}
tup=tuple(set1)
tup

(1, 2, 3, 4, 5)

In [52]:
#38. Find the maximum value in a set.

set1={1,2,3,4,5}
high=0
for i in set1:
    if i>high:
        high=i
high

5

In [54]:
#39. Find the minimum value in a set.

set1={6,8,5,2,7,9}
lst=list(set1)
min(lst)

2

In [56]:
#40. Create a set from user input.

set1=set()
n=5
for i in range(n):
    a=int(input('enter values'))
    set1.add(a)
set1

enter values2
enter values3
enter values4
enter values5
enter values6

{2, 3, 4, 5, 6}

In [59]:
#41. Check if the intersection of two sets is empty.

set1={1,2,3,4,5}
set2={4,5,6,7,8}
if len(set1.intersection(set2))==0:
    print('intersection of two sets is empty')
else:
    print('intersection is not empty')

intersection is not empty

In [63]:
#42. Create a set of the first 5 Fibonacci numbers.

set1={0}
first=0
second=1
for i in range(5):
    third=first+second
    set1.add(second)
    first=second
    second=third
set1

{0, 1, 2, 3, 5}

In [64]:
#43. Remove duplicates from a list using sets.

lst=[1,2,3,4,5,3,4,2]
set1=set(lst)
lst=list(set1)
lst

[1, 2, 3, 4, 5]

In [68]:
#44. Check if two sets have the same elements, regardless of their count.

set1=(1,3,4,6,3,2,1)
set2=(1,2,3,4,2,6)
if set(set1)==set(set2):
    print("truew")

truew

In [70]:
#45. Create a set of the first `n` powers of 2.

set1=set()
n=5
for i in range(n):
    set1.add(2**i)
set1

{1, 2, 4, 8, 16}

In [72]:
#46. Find the common elements between a set and a list.

set1={1,3,4,6,3,2,1}
lst=[3,4,5,6,7]
set1.intersection(set(lst))

{3, 4, 6}

In [75]:
#47. Create a set of the first `n` triangular numbers.

set1=set()
count=1
for i in range(0,n):
    count+=i
    i+=count
    set1.add(i)
set1

{1, 3, 6, 10, 15}

In [78]:
#48. Check if a set contains another set as a subset.

set1={1,2,3,4,5}
set2={4,5,6,7,8}
set1.issubset(set2)

False

In [10]:
#49. Create a set of alternating 1s and 0s of length `n`.

set1=set()
n=7
for i in range(10):
#     print(i)
    if i%2==0:
#         print(0)
        set1.add(0)
    else:
#         print(1)
        set1.add(1)
set1

{0, 1}

In [11]:
#50. Merge multiple sets into one.

set1={1,2,3,4,5}
set2={6,7,8,9}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#--------------------end-------------------